---
---

<section
  class="flex justify-center items-center bg-[#f6f8ff] dark:bg-[#272d2d] gp-4 gap-6 flex-col mb-5"
>
  <h1 class="text-lg lg:text-xl text-[#272d2d] dark:text-[#f6f8ff]">
    Введите название группы
  </h1>

  <input
    type="text"
    placeholder="Название группы..."
    id="input-group"
    class="border-4 bg-[#272d2d] dark:bg-[#f6f8ff] text-white dark:text-black border-transparent outline-0 transition-[border] ease-in-out duration-200 rounded-full p-3 hover:border-[#FFB800] focus:border-[#ffb800]"
  />

  <div
    id="buttonGradient"
    class="flex justify-center items-center p-1 transition-all bg-[#272d2d] dark:bg-[#f6f8ff] ease-[cubic-bezier(0.22,1,0.36,1)] duration-[1500ms] bg-[100%] bg-[length:400%] hover:bg-[0] rounded-lg cursor-pointer w-[90px]"
  >
    <div
      class="w-full h-full p-2 bg-white dark:bg-black rounded-lg text-[#272d2d] dark:text-[#f6f8ff] cursor-pointer flex justify-center items-center"
    >
      Найти
    </div>
  </div>

  <div
    id="groups-list"
    class="w-full justify-center items-center flex gap-6 flex-col"
  >
  </div>

  <div
    id="rasp-list"
    class="w-full justify-center items-center gap-6 flex-col hidden"
  >
  </div>
</section>

<script>
  const input = document.getElementById("input-group");
  const button = document.getElementById("buttonGradient");
  const list = document.getElementById("groups-list");
  const raspList = document.getElementById("rasp-list");

  const currentYear = new Date().getFullYear();

  let groups;
  const response = await fetch(
    `https://edu.donstu.ru/api/raspGrouplist?year=${currentYear}-${
      Number(currentYear) + 1
    }`,
  )
    .then((res) => res.json())
    .then((data) => (groups = data.data));

  input.addEventListener("input", (e) => {
    const value = e.target.value;
    e.target.value = value.replace(/[^А-Яа-яA-Za-z1-9]+/, "");
  });

  button.addEventListener("click", () => {
    const groupName = input.value.toUpperCase();

    if (groupName.trim() === "") {
      input.style.borderColor = "red";

      return setTimeout(() => {
        input.style.border = "";
      }, 1500);
    }

    let filteredGroups;

    filteredGroups = groups.filter((group) => group.name.includes(groupName));

    if (filteredGroups.length === 0) {
      return (list.innerHTML = `<div class="flex justify-center items-center"><span class="text-xl text-[#272D2D] dark:text-[#F6F8FF]">Группа ${groupName} не найдена</span></div>`);
    }

    list.innerHTML = "";
    list.classList.remove("hidden");
    list.classList.add("flex");

    raspList.classList.remove("flex");
    raspList.classList.add("hidden");

    filteredGroups.map((group) => {
      list.innerHTML += `<div class="flex justify-center items-center gap-4 p-2 bg-black dark:bg-white rounded-lg flex-col lg:flex-row"><span class="text-sm lg:text-base text-white dark:text-black font-medium">Название группы: ${group?.name}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Курс: ${group?.kurs}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Название факультета: ${group?.facul}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">ID группы: ${group?.id}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">ID факультета: ${group?.facultyID}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Год расписания: ${group?.yearName}</span> <div id="buttonShow" data-groupid="${group?.id}" class="flex justify-center items-center p-1 transition-all bg-[#272d2d] dark:bg-[#f6f8ff] ease-[cubic-bezier(0.22,1,0.36,1)] duration-[1500ms] bg-[100%] bg-[length:400%] hover:bg-[0] rounded-lg cursor-pointer w-auto"><div class="w-full h-full p-2 bg-white dark:bg-black rounded-lg text-[#272d2d] dark:text-[#f6f8ff] cursor-pointer flex justify-center items-center">Показать расписание</div></div></div>`;

      showBtns();
    });
  });

  function showBtns() {
    const showRaspBtns = document.querySelectorAll("[data-groupid]");

    showRaspBtns.forEach((btn) => {
      btn.addEventListener("click", async () => {
        list.classList.remove("flex");
        list.classList.add("hidden");

        raspList.classList.remove("hidden");
        raspList.classList.add("flex");

        raspList.innerHTML = `<div class="flex justify-center items-center w-full">
      <span class="text-xl font-bold text-[#272D2D] dark:text-[#F6F8FF]"
        >Расписание на эту неделю</span>
    </div>`;

        const date = new Date();
        const groupId = btn.dataset.groupid;

        let rasp;
        const year = date.getFullYear();
        let month = "" + (date.getMonth() + 1);
        let day = "" + date.getDate();

        if (month.length < 2) month = "0" + month;

        if (day.length < 2) day = "0" + day;

        const ddate = [year, month, day].join("-");

        const response = await fetch(
          `https://edu.donstu.ru/api/Rasp?idGroup=${groupId}&sdate=${ddate}`,
        )
          .then((res) => res.json())
          .then((data) => (rasp = data.data.rasp));

        const monday = [];
        const tuesday = [];
        const wednesday = [];
        const thursday = [];
        const friday = [];
        const saturday = [];

        rasp.map((r) => {
          if (r["день_недели"] === "Понедельник") monday.push(r);

          if (r["день_недели"] === "Вторник") tuesday.push(r);

          if (r["день_недели"] === "Среда") wednesday.push(r);

          if (r["день_недели"] === "Четверг") thursday.push(r);

          if (r["день_недели"] === "Пятница") friday.push(r);

          if (r["день_недели"] === "Суббота") saturday.push(r);
        });

        if (monday.length > 0) {
          raspList.innerHTML += `<div class="flex justify-center items-center p-3 bg-[#F9A03F] dark:bg-[#23CE6B] rounded-lg"><span class="text-xl font-bold text-[#272D2D] dark:text-[#F6F8FF]">Понедельник</span></div>`;

          monday.map((r) => {
            raspList.innerHTML += `<div class="flex justify-center items-center p-2 gap-4 bg-black dark:bg-white rounded-lg flex-col lg:flex-row"><span class="text-sm lg:text-base text-[#0096FF] font-medium">${r["дисциплина"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Преподаватель: ${r["преподаватель"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Аудитория: ${r["аудитория"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Время: ${r["начало"]}-${r["конец"]}</span></div>`;
          });
        }

        if (tuesday.length > 0) {
          raspList.innerHTML += `<div class="flex justify-center items-center p-3 bg-[#F9A03F] dark:bg-[#23CE6B] rounded-lg"><span class="text-xl font-bold text-[#272D2D] dark:text-[#F6F8FF]">Вторник</span></div>`;

          tuesday.map((r) => {
            raspList.innerHTML += `<div class="flex justify-center items-center p-2 gap-4 bg-black dark:bg-white rounded-lg flex-col lg:flex-row"><span class="text-sm lg:text-base text-[#0096FF] font-medium">${r["дисциплина"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Преподаватель: ${r["преподаватель"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Аудитория: ${r["аудитория"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Время: ${r["начало"]}-${r["конец"]}</span></div>`;
          });
        }

        if (wednesday.length > 0) {
          raspList.innerHTML += `<div class="flex justify-center items-center p-3 bg-[#F9A03F] dark:bg-[#23CE6B] rounded-lg"><span class="text-xl font-bold text-[#272D2D] dark:text-[#F6F8FF]">Среда</span></div>`;

          wednesday.map((r) => {
            raspList.innerHTML += `<div class="flex justify-center items-center p-2 gap-4 bg-black dark:bg-white rounded-lg flex-col lg:flex-row"><span class="text-sm lg:text-base text-[#0096FF] font-medium">${r["дисциплина"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Преподаватель: ${r["преподаватель"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Аудитория: ${r["аудитория"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Время: ${r["начало"]}-${r["конец"]}</span></div>`;
          });
        }

        if (thursday.length > 0) {
          raspList.innerHTML += `<div class="flex justify-center items-center p-3 bg-[#F9A03F] dark:bg-[#23CE6B] rounded-lg"><span class="text-xl font-bold text-[#272D2D] dark:text-[#F6F8FF]">Четверг</span></div>`;

          thursday.map((r) => {
            raspList.innerHTML += `<div class="flex justify-center items-center p-2 gap-4 bg-black dark:bg-white rounded-lg flex-col lg:flex-row"><span class="text-sm lg:text-base text-[#0096FF] font-medium">${r["дисциплина"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Преподаватель: ${r["преподаватель"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Аудитория: ${r["аудитория"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Время: ${r["начало"]}-${r["конец"]}</span></div>`;
          });
        }

        if (friday.length > 0) {
          raspList.innerHTML += `<div class="flex justify-center items-center p-3 bg-[#F9A03F] dark:bg-[#23CE6B] rounded-lg"><span class="text-xl font-bold text-[#272D2D] dark:text-[#F6F8FF]">Пятница</span></div>`;

          friday.map((r) => {
            raspList.innerHTML += `<div class="flex justify-center items-center p-2 gap-4 bg-black dark:bg-white rounded-lg flex-col lg:flex-row"><span class="text-sm lg:text-base text-[#0096FF] font-medium">${r["дисциплина"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Преподаватель: ${r["преподаватель"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Аудитория: ${r["аудитория"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Время: ${r["начало"]}-${r["конец"]}</span></div>`;
          });
        }

        if (saturday.length > 0) {
          raspList.innerHTML += `<div class="flex justify-center items-center p-3 bg-[#F9A03F] dark:bg-[#23CE6B] rounded-lg"><span class="text-xl font-bold text-[#272D2D] dark:text-[#F6F8FF]">Суббота</span></div>`;

          saturday.map((r) => {
            raspList.innerHTML += `<div class="flex justify-center items-center p-2 gap-4 bg-black dark:bg-white rounded-lg flex-col lg:flex-row"><span class="text-sm lg:text-base text-[#0096FF] font-medium">${r["дисциплина"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Преподаватель: ${r["преподаватель"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Аудитория: ${r["аудитория"]}</span> <span class="text-sm lg:text-base text-white dark:text-black font-medium">Время: ${r["начало"]}-${r["конец"]}</span></div>`;
          });
        }
      });
    });
  }
</script>

<style>
  #buttonGradient {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    background-image: var(--accent-gradient);
  }

  #buttonShow {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    background-image: var(--accent-gradient);
  }
</style>
